.container-form{
    border: 1px black solid;
    border-radius: 20px;
    background-color: #474747af;
    width: 500px;
    height: 250px;
    padding: 30px;
}

.title-form{
    font-size: 1.2em;
    padding-bottom: 1em;
}

.textarea-form{
    border: 2px black solid;
    font-size: 0.8em;
    width: 450px;
    height: 1.2em;
    margin-bottom: 2em;
}

.container-button-form{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: stretch;
}

.button-cancel{
    border-radius: 80px;
    border-style: none;
    background-color: #a1a1a1;
    height: 50px;
}

.button-add{
    border-radius: 80px;
    border-style: none;
    background-color: #a1a1a1;
    height: 50px;
}

@media (max-width: 425px) {
    .container-form {
        width: 300px;
    }
    .title-form{
        font-size: 1em;
    }
    .textarea-form{
        width: 250px;
        font-size: 0.5em;
    }
}

@media (max-width: 375px) {
    .container-form {
        width: 280px;
    }
    .textarea-form{
        width: 250px;
        font-size: 0.5em;
    }
}